<!doctype html>
<html lang="en">
	<head>
		<title>admin of the invitees</title>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		
		<script type="text/javascript" src="jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h2>Current invitees: <%= invitees.length %></h2>
					<!--TODO: a list of the current invitees, support delete -->
					<ul>
						<% for(var i=0; i<invitees.length; i++) { %>
							<li>
								<%= invitees[i].firstname %> <%= invitees[i].lastname %>
							</li>
						<% } %>
					</ul>
				</div>
				<div class="col-md-12">
					<!--TODO: a form to add a new invitee -->
					<h2>Add a new invitee:</h2>
					<form method="post" action="/addInvitee">
						First name:	<input type="text" name="firstname">
						<br>
						Last name:	<input type="text" name="lastname">
						Language: 
						<select name="lang">
							<option value="FR">Français</option>
							<option value="ZH">中文</option>
							<option value="EN">English</option>
						</select>
						<br>
						Activity to attend:
						<select name="actType">
							<option value="dinner">Dinner</option>
							<option value="barbecue">Barbecue</option>
						</select>
						<br><br>
						<input type="submit" value="Submit">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>

