<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html">
  <meta name="author" content="Jungle">
  <title>Mariage de Jing et Hao</title>
  	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="jquery.fullPage.css">
	<link rel="stylesheet" type="text/css" href="mariage.css">
	
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="jquery.fullPage.min.js"></script>
	<script type="text/javascript" src="jquery.downCount.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'pink'],
				anchors: ['page1', 'page2', 'page3', 'page4'],
				menu: '#menu',
				css3: true,
				scrollingSpeed: 1000,
				navigation: false // doesn't show navigation on the right side
			});
			
		});
	</script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			var langBtns = ['selectZH', 'selectFR','selectEN'];
			var langClasses = ['langZH', 'langFR', 'langEN'];
			var langTitles = ['张浩郭静的婚礼', 'Mariage de Jing et Hao','Marriage of Jing and Hao'];
			function selectLanguage(selectLang){
				
				$('#'+selectLang).show();
				for (i = 0; i < langBtns.length; i++){
					if (langBtns[i] == selectLang){
						$('#'+langBtns[i]).removeClass('label-default');
						$('#'+langBtns[i]).addClass('label-primary');
						$('.'+langClasses[i]).removeClass('hide');
						// also change the title
						document.title = langTitles[i];
					}
					else{
						$('#'+langBtns[i]).removeClass('label-primary');
						$('#'+langBtns[i]).addClass('label-default');
						$('.'+langClasses[i]).addClass('hide');
					}
					$('#'+langBtns[i]).show();
					$('.'+langClasses[i]).show();
				}
			}
			
			$('.selectLanguageItem').click(function(){
				selectLanguage($(this).attr('id'));
			});
			// francais par defaut
			selectLanguage('selectFR');
		});
	</script>
	<script type="text/javascript">
        $(document).ready(function() {
        	$('.countdown').downCount({
            	date: '05/02/2015 15:00:00',
            	offset: 0
        		});
        });
    </script>
	<script type="text/javascript">
		var centerPos=new google.maps.LatLng(44.0147149,1.588451);
		var chateauPos=new google.maps.LatLng(44.002477,1.688451);
		var marker;

		function initialize(){
			var mapProp = {
		  		center:centerPos,
		  		zoom:10,
		  		disableDefaultUI:true,
		  		mapTypeId:google.maps.MapTypeId.ROADMAP
		  	};
			var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
			var marker = new google.maps.Marker({
		  		position:chateauPos,
		  		animation:google.maps.Animation.BOUNCE
		 	});
			marker.setMap(map);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</head>
<body>
	<ul id="menu" class="ui-menu">
		<li data-menuanchor="page1" class="active"><a href="#page1">
			<div class="langFR">Faire-Part</div>
			<div class="langZH">公告</div>
			<div class="langEN">Announce</div>
		</a></li>
		<li data-menuanchor="page2"><a href="#page2">
			<div class="langFR">Toi et Moi</div>
			<div class="langZH">妳和我</div>
			<div class="langEN">You & Me</div>
		</a></li>
		<li data-menuanchor="page3"><a href="#page3">
			<div class="langFR">Chemin d'amour</div>
			<div class="langZH">爱的里程</div>
			<div class="langEN">Way of Love</div>
		</a></li>
		<li data-menuanchor="page4"><a href="#page4">
			<div class="langFR">Programme</div>
			<div class="langZH">婚礼安排</div>
			<div class="langEN">Schedule</div>
		</a></li>
	</ul>

	<ul id="selectLanguage" style="position:fixed; z-index:99; top: 15px; right: 20px" class="nav nav-pills">
		<li id="selectFR" class="selectLanguageItem label label-primary" style="cursor:pointer">Français</li>
		<li id="selectZH" class="selectLanguageItem label label-default" style="cursor:pointer">中文</li>
		<li id="selectEN" class="selectLanguageItem label label-default" style="cursor:pointer">English</li>
	</ul>

<div id="fullpage">
	<div class="section active" id="section1">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h2 class="langFR">GUO Jing et ZHANG Hao vont se marier le 2 mai 2015 à Castres</h2>
					<h2 class="langZH">张浩与郭静将于2015年5月2日在Castres举办婚礼</h2>
					<h2 class="langEN">GUO Jing and ZHANG Hao will get married on May 2nd 2015 at Castres</h2>
				</div>
				<div class="col-md-12">
					<h3 class="langFR">Le temps avant notre mariage:</h3>
					<h3 class="langZH">婚礼倒计时:</h3>
					<h3 class="langEN">The time before our marriage:</h3>
				</div>
				<div class="col-md-12">
					<ul class="countdown">
						<li>
							<span style="font-family:LCD2U" class="days">00</span>
							<p class="days_ref">
								<div class="langFR">jours</div>
								<div class="langZH">天</div>
								<div class="langEN">days</div>
							</p>
						</li>
						<li style="font-family:LCD2U" class="seperator">.</li>
						<li>
							<span style="font-family:LCD2U" class="hours">00</span>
							<p class="hours_ref">
								<div class="langFR">heures</div>
								<div class="langZH">小时</div>
								<div class="langEN">hours</div>
							</p>
						</li>
						<li style="font-family:LCD2U" class="seperator">:</li>
						<li>
							<span style="font-family:LCD2U" class="minutes">00</span>
							<p class="minutes_ref">
								<div class="langFR">minutes</div>
								<div class="langZH">分钟</div>
								<div class="langEN">minutes</div>
							</p>
						</li>
						<li style="font-family:LCD2U" class="seperator">:</li>
						<li>
							<span style="font-family:LCD2U" class="seconds">00</span>
							<p class="seconds_ref">
								<div class="langFR">secondes</div>
								<div class="langZH">秒</div>
								<div class="langEN">seconds</div>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
	<div class="section" id="section2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<h1>Jing</h1>
				</div>
				<div class="col-md-6">
					<h1>Hao</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section3">
		<div class="slide" id="slide1">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1>2011</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1>2012</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide3">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1>2013</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide4">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1>2014</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide5">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1>2015</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide6">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1>Futur</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section4">
		<div>
			<h1>Programme</h1>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
          			<h2 class="pull-left">Adresse</h2>
					<div id="googleMap" style="width:450px;height:380px;"></div>
				 </div>
				 <div class="col-md-4">
          			<h2 class="pull-left">Schedule</h2>
          			
				 </div>
				 <div class="col-md-4">
          			<h2 class="pull-left">Liste des cadeaux</h2>
          			
				 </div>
			</div>
		</div>
	</div>
</div>
<audio autoplay="true" loop="true">
	<source src="SunnySideUp.mp3" type="audio/mpeg">
</audio>
</body>
</html>

