<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <meta name="author" content="Jungle">
  <title>Mariage de Jing et Hao</title>
  	<link rel="stylesheet" type="text/css" href="jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="jquery.fullPage.css">
	<link rel="stylesheet" type="text/css" href="mariage.css">
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="jquery-ui.min.js"></script>
	<script type="text/javascript" src="jquery.fullPage.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
				anchors: ['page1', 'page2', 'page3', 'page4', 'lastPage'],
				menu: '#menu',
				css3: true,
				scrollingSpeed: 1000
			});
		});
	</script>
</head>
<body>
<ul id="menu" class="ui-menu">
	<li data-menuanchor="page1" class="active"><a href="#page1">Page 1</a></li>
	<li data-menuanchor="page2"><a href="#page2">Page 2</a></li>
	<li data-menuanchor="page3"><a href="#page3">Page 3</a></li>
	<li data-menuanchor="page4"><a href="#page4">Page 4</a></li>
</ul>
<div id="fullpage">
	<div class="section active" id="section1">Page 1</div>
	<div class="section" id="section2">Page 2</div>
	<div class="section" id="section3">Page 3</div>
	<div class="section" id="section4">Page 4</div>
</div>
<audio autoplay="true">
<source src="SunnySideUp.mp3" type="audio/mpeg">
</audio>
</body>
</html>

