<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <meta name="author" content="Jungle">
  <title>Mariage de Jing et Hao</title>
  	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="jquery.fullPage.css">
	<link rel="stylesheet" type="text/css" href="mariage.css">
	
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="jquery.fullPage.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'pink'],
				anchors: ['page1', 'page2', 'page3', 'page4'],
				menu: '#menu',
				css3: true,
				scrollingSpeed: 1000,
				navigation: false // doesn't show navigation on the right side
			});
			
		});
	</script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			var langBtns = ['selectZH', 'selectFR','selectEN'];
			var langClasses = ['langZH', 'langFR', 'langEN'];
			function selectLanguage(selectLang){
				
				$('#'+selectLang).show();
				for (i = 0; i < langBtns.length; i++){
					if (langBtns[i] == selectLang){
						$('#'+langBtns[i]).removeClass('label-default');
						$('#'+langBtns[i]).addClass('label-primary');
						$('.'+langClasses[i]).removeClass('hide');
					}
					else{
						$('#'+langBtns[i]).removeClass('label-primary');
						$('#'+langBtns[i]).addClass('label-default');
						$('.'+langClasses[i]).addClass('hide');
					}
					$('#'+langBtns[i]).show();
					$('.'+langClasses[i]).show();
				}
			}
			
			$('.selectLanguageItem').click(function(){
				selectLanguage($(this).attr('id'));
			});
			// par defaut
			selectLanguage('selectFR');
		});
	</script>
	<script type="text/javascript">
		var centerPos=new google.maps.LatLng(44.0147149,1.588451);
		var chateauPos=new google.maps.LatLng(44.002477,1.688451);
		var marker;

		function initialize(){
			var mapProp = {
		  		center:centerPos,
		  		zoom:10,
		  		disableDefaultUI:true,
		  		mapTypeId:google.maps.MapTypeId.ROADMAP
		  	};
			var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
			var marker = new google.maps.Marker({
		  		position:chateauPos,
		  		animation:google.maps.Animation.BOUNCE
		 	});
			marker.setMap(map);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</head>
<body>
	<ul id="menu" class="ui-menu">
		<li data-menuanchor="page1" class="active"><a href="#page1">
			<div class="langFR">Faire-Part</div>
			<div class="langZH">公告</div>
			<div class="langEN">Announce</div>
		</a></li>
		<li data-menuanchor="page2"><a href="#page2">
			<div class="langFR">Toi et Moi</div>
			<div class="langZH">妳和我</div>
			<div class="langEN">You & Me</div>
		</a></li>
		<li data-menuanchor="page3"><a href="#page3">
			<div class="langFR">Chemin d'amour</div>
			<div class="langZH">爱的里程</div>
			<div class="langEN">Way of Love</div>
		</a></li>
		<li data-menuanchor="page4"><a href="#page4">
			<div class="langFR">Programme</div>
			<div class="langZH">婚礼安排</div>
			<div class="langEN">Schedule</div>
		</a></li>
	</ul>

	<ul id="selectLanguage" style="position:fixed; z-index:99; top: 15px; right: 20px" class="nav nav-pills">
		<li id="selectZH" class="selectLanguageItem label label-default">中文</li>
		<li id="selectFR" class="selectLanguageItem label label-primary">Français</li>
		<li id="selectEN" class="selectLanguageItem label label-default">English</li>
	</ul>

<div id="fullpage">
	<div class="section active" id="section1">
		Le temps avant notre mariage:<br>
		<iframe src="countdown.html" allowtransparency="true" frameborder="0" scrolling="0" width="280" height="130"></iframe>
		<h1 class="langFR">Nous allons nous marier!</h1>
		<h1 class="langZH">我们要结婚啦！</h1>
		<h1 class="langEN">We will get married!</h1>
	</div>
	<div class="section" id="section2">
		<div>
			<h1>Jing</h1>
		</div>
		<div>
			<h1>Hao</h1>
		</div>
	</div>
	<div class="section" id="section3">
		<div class="slide" id="slide1">
			<h1>2011</h1>
		</div>
		<div class="slide" id="slide2">
			<h1>2012</h1>
		</div>
		<div class="slide" id="slide3">
			<h1>2013</h1>
		</div>
		<div class="slide" id="slide4">
			<h1>2014</h1>
		</div>
		<div class="slide" id="slide5">
			<h1>2015</h1>
		</div>
		<div class="slide" id="slide6">
			<h1>Futur</h1>
		</div>
	</div>
	<div class="section" id="section4">
		<div>
			<h1>Programme</h1>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4">
          			<h2 class="pull-left">Adresse</h2>
					<div id="googleMap" style="width:450px;height:380px;"></div>
				 </div>
				 <div class="col-lg-4">
          			<h2 class="pull-left">Schedule</h2>
          			
				 </div>
				 <div class="col-lg-4">
          			<h2 class="pull-left">Liste des cadeaux</h2>
          			
				 </div>
			</div>
		</div>
	</div>
</div>
<audio autoplay="true" loop="true">
	<source src="SunnySideUp.mp3" type="audio/mpeg">
</audio>
</body>
</html>

