<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html">
  <meta name="author" content="Jungle">
  <title>Mariage de Jing et Hao</title>
  	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="jquery.fullPage.css">
	<link rel="stylesheet" type="text/css" href="mariage.css">
	
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="jquery.fullPage.min.js"></script>
	<script type="text/javascript" src="jquery.downCount.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', '#1bbc9b'],
				anchors: ['page1', 'page2', 'page3', 'page4'],
				menu: '#menu',
				css3: true,
				scrollingSpeed: 1000,
				navigation: false, // doesn't show navigation on the right side
				loopBottom: false,
				loopTop: false,
				slidesNavigation: true,
				loopHorizontal: false
			});
			
		});
	</script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			var langBtns = ['selectZH', 'selectFR','selectEN'];
			var langClasses = ['langZH', 'langFR', 'langEN'];
			var langTitles = ['静浩之恋', 'Caesar&Serene','Jing and Hao'];
			function selectLanguage(selectLang){
				
				$('#'+selectLang).show();
				for (i = 0; i < langBtns.length; i++){
					if (langBtns[i] == selectLang){
						$('#'+langBtns[i]).removeClass('label-default');
						$('#'+langBtns[i]).addClass('label-primary');
						$('.'+langClasses[i]).removeClass('hide');
						// also change the title
						document.title = langTitles[i];
					}
					else{
						$('#'+langBtns[i]).removeClass('label-primary');
						$('#'+langBtns[i]).addClass('label-default');
						$('.'+langClasses[i]).addClass('hide');
					}
					$('#'+langBtns[i]).show();
					$('.'+langClasses[i]).show();
				}
			}
			
			$('.selectLanguageItem').click(function(){
				selectLanguage($(this).attr('id'));
			});
			// francais par defaut
			selectLanguage('selectZH');
		});
	</script>
	<script type="text/javascript">
        $(document).ready(function() {
        	$('.countdown').downCount({
            	date: '05/02/2015 15:00:00',
            	offset: 0
        		});
        });
    </script>
    <!-- no need google map now.
	<script type="text/javascript">
		var centerPos=new google.maps.LatLng(44.0147149,1.588451);
		var chateauPos=new google.maps.LatLng(44.002477,1.688451);
		var marker;

		function initialize(){
			var mapProp = {
		  		center:centerPos,
		  		zoom:10,
		  		disableDefaultUI:true,
		  		mapTypeId:google.maps.MapTypeId.ROADMAP
		  	};
			var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
			var marker = new google.maps.Marker({
		  		position:chateauPos,
		  		animation:google.maps.Animation.BOUNCE
		 	});
			marker.setMap(map);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	-->
</head>
<body>
	<ul id="menu" class="ui-menu">
		<li data-menuanchor="page1" class="active"><a href="#page1">
			<div class="langFR">Faire-Part</div>
			<div class="langZH">公告</div>
			<div class="langEN">Announce</div>
		</a></li>
		<li data-menuanchor="page2"><a href="#page2">
			<div class="langFR">Toi et Moi</div>
			<div class="langZH">妳和我</div>
			<div class="langEN">You & Me</div>
		</a></li>
		<li data-menuanchor="page3"><a href="#page3">
			<div class="langFR">Chemin d'amour</div>
			<div class="langZH">爱的里程</div>
			<div class="langEN">Way of Love</div>
		</a></li>
		<li data-menuanchor="page4"><a href="#page4">
			<div class="langFR">Programme</div>
			<div class="langZH">婚礼安排</div>
			<div class="langEN">Schedule</div>
		</a></li>
	</ul>

	<ul id="selectLanguage" style="position:fixed; z-index:99; top: 15px; right: 20px" class="nav nav-pills">
		<li id="selectFR" class="selectLanguageItem label label-primary" style="cursor:pointer">Français</li>
		<li id="selectZH" class="selectLanguageItem label label-default" style="cursor:pointer">中文</li>
		<li id="selectEN" class="selectLanguageItem label label-default hide" style="cursor:pointer">English</li>
	</ul>

<div id="fullpage">
	<div class="section active" id="section1">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1 class="langFR">Nous allons nous marier！</h1>
					<h1 class="langZH">我们要结婚啦！</h1>
					<h1 class="langEN">We are getting married！</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 class="langFR">le 2 mai 2015</h3>
					<h3 class="langZH">于公元2015年5月2日</h3>
					<h3 class="langEN">on May 2nd 2015</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 class="langFR">dans</h3>
					<h3 class="langZH">距此还有</h3>
					<h3 class="langEN">in</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="countdown">
						<li>
							<span style="font-family:LCD2U" class="days">00</span>
							<p class="days_ref">
								<div class="langFR">jours</div>
								<div class="langZH">天</div>
								<div class="langEN">days</div>
							</p>
						</li>
						<li style="font-family:LCD2U" class="seperator">.</li>
						<li>
							<span style="font-family:LCD2U" class="hours">00</span>
							<p class="hours_ref">
								<div class="langFR">heures</div>
								<div class="langZH">小时</div>
								<div class="langEN">hours</div>
							</p>
						</li>
						<li style="font-family:LCD2U" class="seperator">:</li>
						<li>
							<span style="font-family:LCD2U" class="minutes">00</span>
							<p class="minutes_ref">
								<div class="langFR">minutes</div>
								<div class="langZH">分钟</div>
								<div class="langEN">minutes</div>
							</p>
						</li>
						<li style="font-family:LCD2U" class="seperator">:</li>
						<li>
							<span style="font-family:LCD2U" class="seconds">00</span>
							<p class="seconds_ref">
								<div class="langFR">secondes</div>
								<div class="langZH">秒</div>
								<div class="langEN">seconds</div>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<h2 class="langFR">Jing</h2>
					<h2 class="langZH">静</h2>
					<h2 class="langEN">Jing</h2>
					<img src="jingPortait.png" class="img-circle">
					<p class="langFR">
					</p>
					<p class="langZH">
						静，燕赵人士，曰静而喜动，喜欢小动物，伶俐而亲切。
					</p>
					
				</div>
				<div class="col-md-6">
					<h2 class="langFR">Hao</h2>
					<h2 class="langZH">浩</h2>
					<h2 class="langEN">Hao</h2>
					<img src="haoPortait.png" class="img-circle">
					<p class="langFR">
					</p>
					<p class="langZH">
						浩，齐鲁人士，尊儒重道，喜欢散文那行云流水般的惬意，擅长变静为动。
					</p>
					
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section3">
		<div class="slide" id="slide1">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<img src="eagle.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-6">
						<p class="langFR">
						</p>
						<p class="langZH">
							2005年，我们一起踏入交大的校门，记忆中是那个大大的拖鞋还有那只展翅欲飞的雄鹰，还有那走不完的闵大荒。跟小伙伴们一起坐在最后一排打瞌睡的我，认识了永远坐在第一排的妳。我们都记得你的名字--“学霸”。妳也记得我们的名字：技术宅男。
						</p>
						
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<img src="louvre.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-4">
						<img src="xuhui.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-4">
						<p class="langFR">
						</p>
						<p class="langZH">
							2009年，妳跟小伙伴们在法国欢声笑语，感受着杜埃的那份宁静与快乐。我踌躇满志踏上了人生第一段职业历程，体会了激情，希望，伤心与失落。
						</p>
						
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide3">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<img src="apple.png" class="img-rounded img-responsive">
					</div>
					<div class="col-md-6">
						<p class="langFR">
						</p>
						<p class="langZH">
							2011年，妳回到了交大，我也回到了交大。妳继续妳的学业，我去寻找我曾经的梦想。我们再一次认识对方，拥有了彼此真正的名字。我鼓起勇气，拉起妳的手，一起踏上追梦的路程。每个周末陪着妳玩Matlab，看美剧，吃食堂，准备GEM考试。
						</p>
						
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide4">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<img src="lake.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-6">
						<p class="langFR">
						</p>
						<p class="langZH">
							2012年，陪伴妳坐在思源湖边，一起毕业。
						</p>
						
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide5">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-5">
						<img src="paris.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-4">
						<img src="galcon.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-3">
						<p class="langFR">
						</p>
						<p class="langZH">
							2012年10月，经历过无数让我习以为常的波折后，我们成功在巴黎会师啦。
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide6">
			<div class="row">
				<div class="col-md-4">
					<img src="montagne.jpg" class="img-rounded img-responsive">
				</div>
				<div class="col-md-4">
					<img src="model.jpg" class="img-rounded img-responsive">
				</div>
				<div class="col-md-4">
					<p class="langFR">
					</p>
					<p class="langZH">
						2012年12月，我们开始欧洲旅行。
					</p>
				</div>
			</div>
		</div>
		<div class="slide" id="slide7">
			<div class="row">
				<div class="col-md-4">
					<img src="spain.jpg" class="img-rounded img-responsive">
				</div>
				<div class="col-md-4">
					<img src="plage.jpg" class="img-rounded img-responsive">
				</div>
				<div class="col-md-4">
					<p class="langFR">
					</p>
					<p class="langZH">
						2013年6月，我开始在图鲁兹实习，我没天坐着火车奔波与两个城市间，为了每天都能回家见到妳。
					</p>
				</div>
			</div>
		</div>
		<div class="slide" id="slide8">
			<div class="row">
				<div class="col-md-4">
					<img src="jean-luc.jpg" class="img-rounded img-responsive">
				</div>
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4">
					<p class="langFR">
					</p>
					<p class="langZH">
						2013年7月，我们走入黑山避暑。
					</p>
				</div>
			</div>
		</div>
		<div class="slide" id="slide9">
			<div class="row">
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4">
					<p class="langFR">
					</p>
					<p class="langZH">
						未来，我们一起创造。
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section4">
		<div class="slide" id="slide_mairie">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1 class="langFR">
							Cérémonie dans l'hotel de ville
						</h1>
						<h1 class="langZH">
							Castres政府大厅仪式
						</h1>
						<br>
					</div>
					<div class="col-md-4">
						<img src="mairie.png" class="img-rounded img-responsive">
					</div>
					<div class="col-md-4">
						<p class="langZH"><strong>地址：</strong> 1 Chemin de la Poudrerie, 81100 Catres</p>
						<p class="langFR"><strong>Adresse：</strong> 1 Chemin de la Poudrerie, 81100 Catres</p>
						<p class="langZH"><strong>时间：</strong> 15点</p>
						<p class="langFR"><strong>Heure：</strong> 15h00</p>
					</div>
					<div class="col-md-4">
						<h4 class="langZH">Castres火车站</h4>
						<h4 class="langFR">Gare de Catres</h4>
						<img src="castres_gare.jpg" class="img-rounded img-responsive">
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide_cadeaux">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1 class="langFR">
							Achat des cadeaux chez Darty
						</h1>
						<h1 class="langZH">
							去Darty购买礼物
						</h1>
					</div>
					<div class="col-md-4">
						<p class="langZH"><strong>地址：</strong> 12 Rue Albert Calmettes, 81100 Castres</p>
						<p class="langFR"><strong>Adresse：</strong> 12 Rue Albert Calmettes, 81100 Castres</p>
						<p class="langZH"><strong>时间：</strong> 16点</p>
						<p class="langFR"><strong>Heure：</strong> 16h00</p>
						<img src="darty.png" class="img-rounded img-responsive">
					</div>
					<div class="col-md-8">
						<h2 class="langFR">Liste des Cadeaux</h2>
						<h2 class="langZH">礼物清单</h2>
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="langFR">Cadeaux</th>
									<th class="langZH">礼物</th>
									<th class="langFR">Donneur</th>
									<th class="langZH">赠送者</th>
									<th class="langFR">Prix</th>
									<th class="langZH">价格</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i<presents.length; i++) { %>
									<tr>
										<td  class="langZH"><%= presents[i].nameZH %></td>
										<td  class="langFR"><%= presents[i].nameFR %></td>
										<td>Anonyme</td>
										<td><%= presents[i].price %></td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide_dinner">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1 class="langFR">
							Le repas et la soirée dans le Château de la Vère
						</h1>
						<h1 class="langZH">
							城堡晚宴及晚会
						</h1>
						<br>
					</div>
					<div class="col-md-4">
						<p class="langZH"><strong>地址：</strong> 北纬 44.0040706, 东经 1.7122476</p>
						<p class="langFR"><strong>Adresse：</strong> 44.0040706 N, 1.7122476 E</p>
						<p class="langZH"><strong>时间：</strong> 18点</p>
						<p class="langFR"><strong>Heure：</strong> 18h00</p>
					</div>
					<div class="col-md-4">
						<img src="chateau-de-la-vere.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-4">
						<img src="salle.jpg" class="img-rounded img-responsive">
					</div>
									
				</div>
			</div>
		</div>
		<div class="slide" id="slide_barbecue">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1 class="langFR">
							Le Barbecue dans le jardin
						</h1>
						<h1 class="langZH">
							花园烧烤
						</h1>
						<br>
					</div>
					<div class="col-md-4">
						<p class="langZH"><strong>时间：</strong> 翌日10点</p>
						<p class="langFR"><strong>Heure：</strong> lendemain 10h00 </p>
					</div>
					<div class="col-md-4">
						<img src="jardin.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-4">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<audio autoplay="true" loop="true">
	<source src="SunnySideUp+.mp3" type="audio/mpeg">
</audio>
</body>
</html>

