
/* Custom CSS
 * --------------------------------------- */
@font-face {
    font-family: LCD2U;
    src: url(LCD2U.TTF);
}

body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
h1{
	font-size: 5em;
	color:#EE7621;
	
}
h2{
	font-size: 2.5em;
	color:white;
}
h3{
	font-size: 2em;
	color:white;
}
h4{
	font-size: 1.5em;
	text-align:justify;
	color:#EE7621;
}
h5{
	color: #CEF6F5;
	text-align:right;
	font-size: 1em;
}
h6{
	color: #DF0101;
	text-align:justify;
	font-size: 2.5em;
}


p{
	color: #EE7621;
	text-align:justify;
	font-size: 1.5em;
}
th{
	color: #EE7621;
	font-family: Arial; 
	font-size: 1.5em;
}


.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
.section{
	text-align:center;
	padding:10px 10px 10px 10px;
}
.slide{
	text-align:center;
	/*padding:50px 50px 10px 50px;  top right bottom left */
	padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	
	background: rgba(65,105,225, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #EE7621;
}
#menu li.active a:hover{
	color: #FFFFF0;
}
#menu li:hover{
	background: rgba(238 ,197 ,145,0.6);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
#usedBy{
	padding: 50px 0 0 0;
}
/*creen resolutions smaller than 620px */
@media all and (max-width: 900px){
	#usedBy{
		padding: 0 0 0 0;
	}
	#usedBy{
		width: 275px;
		height:50px;
	}
}

#fullPage-nav{
	position: absolute;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
}
#fullPage-nav li{
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
}
#fullPage-nav li a{
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}
#fullPage-nav li .active span{
	background: #333;
}
#fullPage-nav span{
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border: 1px solid #000;
	background: rgba(0, 0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
}
#section1{
	background-image: url("bg_sm.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
#section2{
	background-image: url("fond_rose_sm.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
#section3{
	background-image: url("Nice_sm.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
#slide8{
	background-image: url("fond_matin.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
#slide9{
	background-image: url("fond2_sm.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
#slide10{
	background-image: url("fond_snow_sm.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

#slide_mairie{
	background-image: url("castres_mairie.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
#slide_cadeaux{
	background-image: url("lavande.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
#slide_dinner{
	background-image: url("fond3_sm.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
#slide_barbecue{
	background-image: url("fond_gourjade.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

#giftable {
    width: 100%;
    background-color: #D8F0DA;
    border: 1px;
    min-width: 100%;
    position: relative;
    opacity: 0.97;
    background: transparent;
}




ul.countdown {
list-style: none;
margin: 5px 0;
padding: 0;
display: block;
text-align: center;
}
ul.countdown li {
display: inline-block;
	color:white;
}
ul.countdown li span {
font-size: 5em;
font-weight: 300;
line-height: 1em;
}
ul.countdown li.seperator {
font-size: 5em;
line-height: 1em;
vertical-align: top;
}
ul.countdown li p {
color: #a7abb1;
font-size: 1em;
}

